body {
  background-color: purple;
}

input[type="text"] {
  font-size: 48px;
  width: 80%;
  margin: 0 auto;
  display: block;
}

triangle {
  position: absolute;
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-bottom: 100px solid blue;
}
